@tailwind base;
@tailwind components;
@tailwind utilities;


#top{
    background-image: url("./assets/img/top.png");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

